body{
    background: rgb(15, 14, 14);
}

/* header */

#nav {
    position:fixed;
    top:0px;
    left:0px; 
    width: 100%;
    height: 70px;
    background-color: black;
    z-index: 3000;
}

nav ul {
    margin: 0px;
    padding: 20px 100px 0px 0px;
    float: right;
}
nav li {
    display: inline;
    margin-right: 40px;
}
a {
    text-decoration: none;
    color: white;
    font-family: Comic Sans MS;
}
a:hover{
    color: rgb(202, 75, 145);
}

/* portfolio */
#slide1{
    margin: 70px 0px 0px 0px;
    width: 1320px;
    height: 550px;
    background-image: url(1074251_hacker-wallpaper-full-hd.jpg);
    cursor: pointer;
    background-size: 1320px 550px;
}
.fab{
    color: rgb(2, 2, 22);
    margin: 0px 0px 0px 450px;
    cursor: text;
    position: absolute;
    animation: movee 15s infinite linear;
}

@keyframes movee {
0%   {left: 0px; opacity: 1;}
20%  {right: 10px; opacity: .8;}
40%  {left: 100px; opacity: .6;}
60%  {left: -100px; opacity: .4;} 
80% {left: 10px; opacity: 2;} 
100% {left: 0px; opacity: 1;}
}

.future{
    cursor: text;
    margin: 170px 0px 0px 400px;
    font-size: 75px;
    width: 830px;
    line-height: 80px;
    font-family: cursive;
    color: rgb(9, 19, 32);
    transform: translate(-43%);
}
.future{
    color: rgb(255,255,255,.1);
    background-image: url(istock-182747082-67513e4d2f9afc42710d06a802b9ee140321a3ac-s800-c85.jpg);
    background-repeat: repeat-y;
    -webkit-background-clip: text;
    animation: anima 15s linear infinite;
}

@keyframes anima{
    0% {background-position: left 0px top 80px;}
    40% {background-position: left 270px top -50px;}
    80% {background-position: left 540px top -50px;}
    100% {background-position: left 810px top 80px;}
}

 .AKS{
    font-family: 'Trebuchet MS', sans-serif;
    position: absolute;
    color: white;
    font-size: 27px;
    cursor: text;
    margin: 0px 0px 0px 110px;
    background: rgb(243, 31, 137);
    width: 280px;
    height: 60px;
    text-align: center;
    line-height: 60px;
} 

/* all span */

span{
    background: rgb(243, 31, 137);
}

/* image */

.gift{
    border-radius: 50%;
    margin: 10px 40px 0px 20px;
    width: 50px;
    height: 50px;
    background-image: url(90374388-cute-baby-penguin-cartoon-sitting.jpg);
    background-size: 50px 50px;
    position: absolute;
    cursor: pointer;
}
img{
    cursor: pointer;
}
.img{
    border-radius: 50%;
    margin: 0px 40px 0px 0px;
    float: right;
    width: 200px;
    height: 200px;
    background-image: url(mukesh.jpg);
    background-size: 200px 200px;
    transition: .5s;
    border: 2px ridge white;
}
.img:hover{
    background-image: url(IMG_20170416_160736.jpg);
    transform: rotate(360deg);
    cursor: pointer;
}



/* create */

h4{
    color:white;
    margin: 0px 0px 0px 500px;
    font-size: 28px;
    font-family: comic sans ms;
}

.hh{
    float: right;
    margin: -400px 780px 0px 0px;
}
h2{
    width:600px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    position: absolute;
}
.hg{
    float: right;
    margin: -200px 780px 0px 0px;
}
.hp{
    float: right;
    margin: -40px 780px 0px 0px;
}

.aju{
    padding-left: 250px;
    padding-top: 170px;
}

.believe{
    float: right;
    margin: -400px 880px 0px 0px;
}
h3{
    width:580px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: absolute;
    font-size: 40px;
    line-height: 50px;
}

.best{
    margin: -60px 0px 0px 100px;
}
.be{
    color: white;
    background: rgb(231, 117, 136);
}
.loader{
    position: absolute;
    top:1960px;
    left: 49%;
    transform: translate(-43%);
}
.loader h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 60px;
    color: rgb(255,255,255,.1);
    background-image: url(5596e3_c7b59b2c90a2413da8f3e8b45d62d722_mv2_d_3508_2493_s_4_2.jpg);
    background-repeat: round;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0% {background-position: left 0px top 80px;}
    40% {background-position: left 800px top -50px;}
    80% {background-position: left 1800px top -50px;}
    100% {background-position: left 2400px top 80px;}
}

.ill{
    color:white;
    margin: -600px 0px 0px 10px;
    position: absolute;
    width: 140px;
    height: 45x;
    text-align: center;
    line-height: 2px;
    font-size: 25px;
    animation: mymove 7s infinite;
}

@keyframes mymove {
    0%   {background: rgb(109, 2, 55); left: 0px;}
    25%  {background: rgb(170, 34, 102);}
    50%  {background: rgb(201, 62, 131); left: 100px;}
    75%  {background: rgb(224, 93, 159); left: -10px;} 
    100% {background: rgb(109, 2, 55); left: 0px;} 
  }

#slide3{
    margin: 120px 0px 0px 320px;
    width: 720px;
    border: 5px groove white;
    cursor: pointer;
}
.mySlides{
    width: 100%;
}


::-webkit-scrollbar{
    width: 30px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 30px rgb(63, 201, 155);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(55, 129, 45);
    background: linear-gradient(45deg,rgb(41, 94, 155),rgb(206, 78, 178),rgb(206, 78, 178),rgb(41, 94, 155));
}

.php{
    margin: 40px 0px 0px 190px;
    color: rgb(226, 48, 131);
    font-size: 40px;
    font-family: comic sans ms;
}
.php h3{
    font-size: 22px;
    margin: -110px 0px 0px 520px;
    font-family: 'Courier New', Courier, monospace;
}

.exper{
    color: white;
    opacity: .5;
    font-size: 18px;
    font-style: oblique;
    margin: 75px 0px 0px 710px;
    position: absolute;
}

.my{
    margin: -92px 0px 0px 190px;
}
.my h3{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    width: 1040px;
    line-height: 33px;
}
.skills{
    color: rgb(226, 48, 131);
    font-family: comic sans ms;
    font-size: 30px;
    margin: 420px 0px 0px 190px;
}
.other{
    width: 200px;
    color: white;
    font-family: cursive;
    font-size: 20px;
    margin: 0px 0px 0px 190px;
    position: absolute;
}
.hm{
    margin: 0px 0px 0px 400px;
}
.hm h7{
    opacity: .2;
    color: white;
    font-family: cursive;
    font-size: 25px;
}
.other h5{
    opacity: .9;
    margin: 0px 0px 0px 0px;
    font-size: 22px;
}
.pancil{
    float: right;
    padding-right: 250px;
}
.xd{
    margin: 60px 0px 0px 190px;
    color: white;
    font-size: 22px; 
    font-family: cursive;  
    position: absolute;
    opacity: .7;
}
.sql{
    color: white;
    font-size: 22px;
    font-family: cursive;
    position: absolute;
    margin: 52px 0px 0px 190px;
}
.java{
    color: white;
    font-size: 22px;
    font-family: cursive;
    position: absolute;
    margin: 77px 0px 0px 190px;
}
.phd{
    color: white;
    font-size: 22px;
    font-family: cursive;
    position: absolute;
    margin: 103px 0px 0px 190px;
    opacity: .4;
}
.ruby{
    color: white;
    font-size: 22px;
    font-family: cursive;
    position: absolute;
    margin: 0px 0px 0px 400px;
}
.android{
    color: white;
    font-size: 22px;
    font-family: cursive;
    position: absolute;
    margin: 28px 0px 0px 400px;
    opacity: .2;
}
.vfx{
    color: white;
    font-size: 22px;
    font-family: cursive;
    position: absolute;
    margin: 57px 0px 0px 400px;
    opacity: .7;
}
.js{
    color: rgb(58, 226, 198);
    font-size: 50px;
    font-family: cursive;
    position: absolute;
    margin: 84px 0px 0px 350px;
    text-shadow: 0px 0px 7px rgb(47, 224, 150);
}
.footer{

    bottom: 0px;
    left: 0px;
    background: rgb(9, 19, 32);
}
.contact{
    color: rgb(224, 62, 170);
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 50px 0px 0px;
    text-transform: uppercase;
}
.contac{
    color: white;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    margin: -110px 50px 0px 0px;
    text-transform: uppercase;
    font-size: 110px;
}
.cla{
    color: rgb(255, 255, 255);
    text-align:center;
    font-family: comic sans ms;
    margin: 0px 50px 0px 560px;
    cursor: pointer;
}
.email{
    color: rgb(255, 255, 255);
    text-align:center;
    font-family: comic sans ms;
    margin: 0px 50px 0px 530px;
    cursor: pointer;
}
.akk{
    color: rgb(74, 190, 185);
    text-align:center;
    font-family: comic sans ms;
    margin: 40px 0px 0px 40px;
    font-size: 17px;
    text-shadow: 0px 0px 10px rgb(19, 206, 112);
}